@inherits LayoutComponentBase
    <div id="app">
	    <Navbar />

	    <div class="content px-4">
		    @Body
	    </div>
		
	    <footer class="px-4 py-2 text-center">
		    &copy; Blazing Pizza @DateTime.UtcNow.Year
	    </footer>
    </div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
