<header class="top-bar">
	<a class="logo" href="">
		<img src="img/logo.svg" alt="" />
	</a>

	<NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
		<img src="img/pizza-slice.svg" alt="" />
		<div>Ordenar Pizza</div>
	</NavLink>

	<NavLink href="myorders" class="nav-tab">
		<img src="img/bike.svg" alt="" />
		<div>Mis pedidos</div>
	</NavLink>
</header>

@code {

}
